body {
  margin: 0;

  background: #f4f4f4;

  padding: 0;

  font-family: sans-serif;
}

header {
  background: #f0f0f0;

  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  background-color: #f0f0f0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

header h1 img {
  height: 50px;
  max-width: 100%;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 20px;
}

nav a {
  font-weight: bold;
  text-decoration: none;

  color: #333333;
}

#banner {
  background: #ddd;

  width: 90%;
  max-width: 1200px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  margin: 20px auto;
}

input[type="radio"] {
  display: none;
}

.carousel-container {
  width: 100%;
  position: relative;
}

.carousel-inner {
  width: 300%;
  display: flex;
}

.slide {
  width: 33.333%;
  position: relative;
}

.slide img {
  width: 100%;
  display: block;
  height: auto;
}

#slide1:checked ~ .carousel-inner {
  margin-left: 0;
}

#slide2:checked ~ .carousel-inner {
  margin-left: -100%;
}

#slide3:checked ~ .carousel-inner {
  margin-left: -200%;
}

.navegacao {
  display: flex;
  left: 50%;
  bottom: 20px;
  position: absolute;
  transform: translateX(-50%);
}

.bar {
  width: 50px;
  height: 6px;

  background: rgba(110, 110, 110, 0.3);

  border-radius: 5px;

  border: 2px solid #ffffff;

  margin: 0 5px;

  cursor: pointer;
}

.bar:hover {
  background: rgb(255, 255, 255);
}

#slide1:checked ~ .navegacao .bar:nth-child(1),
#slide2:checked ~ .navegacao .bar:nth-child(2),
#slide3:checked ~ .navegacao .bar:nth-child(3) {
  width: 60px;

  background: rgb(255, 255, 255);
}

#pacotes {
  margin: 0 auto;
  padding: 40px;
  max-width: 1200px;
}

#pacotes h2 {
  text-align: center;
  color: #333333;
  margin-bottom: 20px;
}

.grid-pacotes {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

article {
  background: rgb(255, 255, 255);

  border: 1px solid #d1d1d1;

  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

.foto img {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  object-fit: cover;
}

.botao-link {
  display: inline-block;
  text-decoration: none;
  background: #b40202;
  padding: 10px 20px;
  margin-top: 10px;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

aside {
  background: rgb(247, 247, 247);
  padding: 20px;
  margin: 20px auto;
  max-width: 1200px;
  border-left: 5px solid #023669;
}

.rodape {
  background: #333333;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}

.container-detalhes {
  max-width: 850px;
  margin: 10px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.detalhe-foto,
.detalhe-info {
  flex: 1 1 426px;
}

.detalhe-foto img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.preco {
  font-size: 1.5rem;
  font-weight: bold;
  color: #b40202;
  margin: 20px 0;
}

.botao-comprar {
  background: #006400;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  width: 100%;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
  }

  nav ul {
    margin-top: 20px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav li {
    margin: 5px 0;
  }
}

nav a:hover {
  color: #d37801;
  transition: color 0.5s ease;
}

.botao-link:hover {
  background-color: #d37801;
  transition: background-color 0.5s ease;
}

.botao-comprar:hover {
  background-color: #d37801;
  transition: background-color 0.5s ease;
}

.container-form {
  width: 80%;
  max-width: 500px;
  margin: 30px auto;
  padding: 20px;
  background: #fff;
  border: 1px solid #ccc;
}

.container-form input[type="text"],
.container-form input[type="password"],
.container-form input[type="email"],
.container-form input[type="date"],
.container-form select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.botoes button {
  margin-right: 10px;
  padding: 10px 20px;
  background: #b40202;
  color: white;
  border: none;
  cursor: pointer;
}

.container-form div {
  margin-bottom: 15px;
}

.container-form input[type="text"],
.container-form input[type="email"],
.container-form input[type="tel"],
.container-form textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.container-form textarea {
  font-family: sans-serif;
  resize: vertical;
}

.container-form label {
  font-weight: bold;
}
